.header {
  width: 100%;
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10000;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-menu-logo {
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.logo-text {
  color: $mainColor;
  font-family:$raleway;
  font-weight: 300;
  font-size: 32px;
  margin-left: 100px;
}

.page-menu {
}

.page-menu-list {
  display: flex;
  list-style: none;
}

.page-menu-el {
  padding: 0 50px;
}

.page-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #A5A5A5;
  font-family:$opensSans;
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
  padding: 27px 0;
}

.page-menu-link:hover {
  border-bottom: 4px solid #08A6E4;
  color: #000000;

}